<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{10,10}</string>
		<string>{25,10}</string>
		<string>{22,21}</string>
		<string>{17,2}</string>
		<string>{27,10}</string>
		<string>{27,10}</string>
		<string>{41,10}</string>
		<string>{27,23}</string>
		<string>{50,5}</string>
		<string>{46,10}</string>
		<string>{55,1}</string>
		<string>{47,13}</string>
		<string>{55,10}</string>
		<string>{47,20}</string>
		<string>{55,15}</string>
		<string>{47,25}</string>
		<string>{62,2}</string>
		<string>{68,3}</string>
		<string>{71,21}</string>
		<string>{77,10}</string>
		<string>{77,10}</string>
		<string>{102,10}</string>
		<string>{80,17}</string>
		<string>{90,1}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{25,10}</string>
		<string>{25,25}</string>
		<string>{25,25}</string>
		<string>{15,25}</string>
		<string>{27,23}</string>
		<string>{41,10}</string>
		<string>{41,23}</string>
		<string>{41,23}</string>
		<string>{60,5}</string>
		<string>{70,10}</string>
		<string>{55,10}</string>
		<string>{60,13}</string>
		<string>{47,20}</string>
		<string>{62,19}</string>
		<string>{55,30}</string>
		<string>{62,24}</string>
		<string>{70,30}</string>
		<string>{71,7}</string>
		<string>{62,28}</string>
		<string>{80,17}</string>
		<string>{102,10}</string>
		<string>{100,17}</string>
		<string>{100,17}</string>
		<string>{90,30}</string>
	</array>
</dict>
</plist>
